// 動畫們
// -------------------------------------
@keyframes layer_open {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
    opacity: 0;
  }
  99% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes open_fade-in {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
    opacity: 0;
  }
  99% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes open_fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  99% {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

// fade Slide IN  UP
// -------------------------------
@keyframes fadein_up {
  0% {
    transform: translate3d(0, 10%, 0);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }
  99% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
    overflow: hidden;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

// fade Slide IN  Down
// -------------------------------
@keyframes fadein_down {
  0% {
    transform: translate3d(0, -10%, 0);
    visibility: hidden;
    opacity: 0;
  }
  99% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

// Scale IN
// -------------------------------
@keyframes Scale_In {
  0% {
    transform: scale(0.95);
    visibility: hidden;
    opacity: 0;
  }
  99% {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

// Fade IN
// -------------------------------
@keyframes Fade_In {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

// fade Slide Out Down
// -------------------------------
@keyframes fadeout_down {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
  99% {
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
